/1705706586751-1705691813742Day5SupervisedLearning.pptx
/1705799199625-1705780133867UnsupervisedLearning.pptx
/Assignment Day 3 - GIT- Naurah Nazhifah.txt
/bank+marketing
/bank+marketing.zip
/bfi.csv
/CE1_Naurah_Nazhifah.ipynb
/CE2_Naurah Nazhifah.ipynb
/garments_worker_productivity.csv
/HO_ML2_Day2_Naurah Nazhifah.ipynb
/klasifikasi garments worker productivity.ipynb
/klasifikasi_template_pr_day10.ipynb
/latihan.ipynb
/latihan1.ipynb
/Salinan_dari_template_pr_day10.ipynb
/template_pr_day10.ipynb
/titanic_test.csv
/titanic_train.csv
/Untitled-1.ipynb
/USA_Housing.csv
/wine_data.csv
/wine_dataset.csv